<% content_for :title do %>HADashboard<% end %>
<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  Dashing.numColumns = 3
});
</script>
<div class="gridster"> <!-- Main Panel - PAGE 1 -->
  <ul>

    <li data-row="1" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="fireplace_temperature" data-view="Hatemp" data-title="Fireplace Exahust (C)" data-ontime="500" data-color="#FF0000"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="fireplace_ambient" data-view="Hatemp" data-title="Fireplace Ambient (F)" data-ontime="500" data-color="#FF0000"></div>
    </li>

    <li data-row="3" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="fireplace_burn_zone" data-view="Hainputselect" data-title="Fireplace Burn Zone" data-ontime="500" data-color="#FF0000"></div>
    </li>
	



  </ul>
</div>

<div class="gridster"> <!-- Power Strip - PAGE 2 -->
  <ul>


    <li data-row="4" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="jordan_fireplace_monitor" data-view="Haswitch" data-title="Jordan" data-ontime="500" data-color="#FF0000"></div>
    </li>
    <li data-row="4" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="joel_fireplace_monitor" data-view="Haswitch" data-title="Joel" data-ontime="500" data-color="#FF0000"></div>
    </li>
    <li data-row="4" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="brendan_fireplace_monitor" data-view="Haswitch" data-title="Brendan" data-ontime="500" data-color="#FF0000"></div>
    </li>
  </ul>
</div>


